@import 'src/theme/shared';

.category {
  border: thin $color-gray solid;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  width: max-content;
  border-radius: 20px;
  height: 30px;
  margin-right: 10px;
}

img {
  height: 20px;
  display: block;
  width: 20px;
}

.selected {
  background-color: #D1EBFF;
  color: #003CFF;
  transition: all 1s;
}