<div class="assessment-info__container">
  <div fxLayout="column">
    <h1>Lorem ipsum dolor</h1>

    <p>
      This assessment consists of 6 multiple choice questions. The pass mark is 100%. You will have 3 attempts. In case
      you
      do not achieve the pass mark in 3 attempts, please speak with your Regional Manager for appropriate coaching. You
      will
      be allowed further attempts based on your Regional Manager confirming that this step has been completed.
    </p>
  </div>

  <div fxLayout="column" fxLayoutGap="20px">
    <app-progress></app-progress>
    <app-claim-reward></app-claim-reward>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="end end">
  <button type="button" class="btn-primary" routerLink="/question" >Next</button>
</div>