
@import 'src/theme/shared';

h1 {
  margin: 0;
}

.assessment-info__container {
  border-bottom: thin $color-gray solid;
  padding-bottom: 20px;
  margin-bottom: 20px;
  height: calc(100% - 55px);
  min-height: calc(100% - 55px);
}

.btn-primary {
  @include btn-primary;
}