<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h4>Archive board?</h4>
  <p>This board and it's content will be added to archive. Archived items can be viewed and unarchived at any time.</p>


  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFlexFill>
    <button mat-button (click)="dialogRef.close()" class="btn-cancel">Cancel</button>
    <button mat-button (click)="dialogRef.close()" class="btn-archive">Archive</button>
  </div>
</div>