@import 'src/theme/shared';

img {
  min-height: 150px;
  max-height: 150px;
}

.img-container {
  height: 200px;
}

h5 {
  color: $color-black-1;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.thumbnail__container {
  background-color: $color-white;
  position: relative;
  left: 10px;

  p {
    margin-bottom: 0;
  }
}

.thumbnail__header {
  padding: 10px;
}

img {
  border-radius: 4px;
}

.thumbnail--icon-info {
  span {
    font-size: 12px;
  }
}

.thumbnail__card-container {
  width: 100vw;
  overflow-x: scroll;
  background-color: $color-white;
  padding: 10px;
}

:host ::ng-deep {
  p-card {
    margin: 0;
    width: 250px;
  }

  .ui-card {
    box-shadow: none;
    margin-right: 10px;
    width: 235px;
  }

  .ui-corner-all {
    border-radius: 0;
  }

  .thumbnail__container {
    .ui-card-title {
      font-size: 16px;
    }

    .ui-card-body {
      padding: 0;
    }
  }

  .ui-card-footer {
    padding-top: 0;
  }
}