<ion-content class="processes-container">
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="category">
    <ion-segment-button value="myprocesses">
      <ion-label>MY PROCESSES</ion-label>
    </ion-segment-button>
    <ion-segment-button value="library">
      <ion-label>LIBRARY</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="category">
    <div *ngSwitchCase="'myprocesses'">
      <app-my-processes></app-my-processes>
    </div>

    <div *ngSwitchCase="'library'">
      <app-processes-library></app-processes-library>
    </div>
  </div>
</ion-content>
