<div fxLayout="column" fxLayoutGap="20px">
  <div>
    <img [src]="assetImgPath + 'banana.png'" />
  </div>

  <div class="content" fxLayout="column" fxLayoutGap="20px">
    <div>
      <small>Created by Francis Paramore on 25.05.2019, 4:30pm</small>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <small><span class="badge-violet">Content related</span>
        Learning session with John Doe</small>
    </div>

    <h5>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</h5>

    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praese ntium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
      qui officia deserunt mollitia animi, id est labo rum et dolorum fuga?</p>
  </div>
</div>