<div class="comment_list" fxLayout="column" fxLayoutAlign="start start">
  <h6>Comments (4)</h6>
  <div class="list-item" *ngFor="let i of [0, 1, 2, 3]" fxLayoutGap="10px">
    <div fxFlex="1"> </div>
    <div fxFlex="9">
      <img [src]="assetImgPath + 'sample_pic.png'" />
    </div>
    <div fxFlex>
      <div class="comment__name">Jenny Flit</div>
      <div class="comment__text">
        <span>
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s
        </span>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="comment__action">
          <img [src]="assetSvgPath + 'reply.svg'" />
          <img [src]="assetSvgPath + 'options_dark.svg'" />
        </div>
      </div>
    </div>
  </div>
</div>