@import 'src/theme/variables.scss';

h4 {
  font-weight: 500;
  padding: 0 10px;
}

:host ::ng-deep {
  p-card {
    width: 100%;
  }

  .ui-card {
    margin: 5px;
  }

  .ui-card-shadow {
    border-radius: 0;
  }

  .ui-card-footer {
    padding-top: 0;
  }
}