@import 'src/theme/shared';

.down-edge-shadow {
  box-shadow: $down-top-edge-shadow !important;
}

img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.dd__user-input {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  
  input {
    height: 50px !important;
    border: none;
    padding-left: 10px;
  }

  .arrow-circle {
    background-color: $color-blue;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  img {
    height: 25px;
    width: auto;
  }
}

.card__dd {
  border-bottom: thin $border-line solid;
  margin: 10px 0;
  box-shadow: $down-edge-shadow;
  background-color: $color-white;
}

i.c-red {
  color: $color-red;
  font-size: 8px;
  position: relative;
  top: -1px;
}

span.c-orange {
  color: $color-orange;
  padding: 0;
  margin: 0;
}

.card__dd--comment-footer {
  span {
    border: thin #CCC solid;
    font-size: 12px;
    color: #666;
    border-radius: 20px;
    padding: 5px;
  }

  img {
    height: 24px;
    width: 24px;
    margin: 0 5px;
  }
}


.text-blue {
  color: $color-primary;
  padding: 0;
  margin: 0;
}

.card__dd--comment {
  padding: 10px 20px;

  .comment-container {
    border-radius: 10px;
    background-color: #F1F2F6;
    padding: 10px;

    &.reply {
      background-color: #01BBBD;
      color: $color-white;
    }
  }
}

.card__dd--content {
  padding: 10px 20px;
}

.card__dd--badge {
  padding-left: 18px;
}

.card__dd--footer {
  padding: 10px 20px;
  font-size: 14px;

  h5 {
    margin-top: 0;
  }
}

.card__dd--content__time {
  font-size: 12px;
  margin: 5px 0;
}