<div fxLayout="column" class="card_notification">
  <div class="card_notification--content" fxFlex="100" fxLayout="row">
    <div fxFlex="20" fxLayoutAlign="start start">
      <img class="card_notification--img" src="/assets/images/sample_pic.png" />
    </div>
    <div fxFlex="80" fxLayout="column" fxLayoutAlign="start start">
      <div>Gearing and margin Lending course in due tomorrow at 4:30 PM</div>
      <div class="card_notification--content__time">4 hours ago</div>
    </div>
  </div>
  <div routerLink="/dashboard/notification" class="card_notification--footer" fxFlex="100" fxLayout="row">
    You have 4 unread notifications
  </div>
</div>