<ion-content class="learning_container">
  <ion-segment [(ngModel)]="category" class="learning__segment">
    <ion-segment-button value="myLearning">
      <ion-label>MY LEARNINGS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="learnMore">
      <ion-label>LEARN MORE</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="category">
    <div fxLayout="column" *ngSwitchCase="'myLearning'">
      <app-continue-learning></app-continue-learning>
      <app-assigned-learning></app-assigned-learning>
      <div fxLayoutGap="20px" routerLink="/completed-learning" fxLayoutAlign="space-between center">
        <h5 class="view-completed">View Completed</h5>
      </div>
    </div>

    <div *ngSwitchCase="'learnMore'">
      <app-learn-more></app-learn-more>
    </div>
  </div>
</ion-content>