<div class="dng-photo__container" fxLayout="column" fxLayoutAlign="center center">
  <div class="dng-photo">
    <img [src]="assetSvgPath + 'add_photo.svg'" />
  </div>
  <span>Discussion image</span>
</div>

<div class="dng-form-input" fxLayout="column">
  <mat-form-field floatLabel="never">
    <input matInput placeholder="Related Learning">
  </mat-form-field>
  <span>Start typing to get suggestions</span>

  <mat-form-field floatLabel="never">
    <input matInput placeholder="Discussion title*">
  </mat-form-field>
  <span>Required*</span>

  <mat-form-field floatLabel="never">
    <input matInput placeholder="Description">
  </mat-form-field>
</div>